<% if object.errors.any? %>
  <div class="alert alert-danger">
    <%= t ".message" %> <%= pluralize(object.errors.size, t(".error")) %>.
  </div>
  <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>
