/* top */
#top{
  .top-header {
    z-index: 1;
      ul {
        background: #555555;
        li {
          color: #fff;
          &:hover {
            background-color: #555555;
            text-decoration: none;
          }
        }
      }
  }
}

/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.option-comment{
  float: right;
}

<<<<<<< 89bbdb4959a79c16d05c3cebf9ed3a00d3cc4d9e
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
}
.rating > label:hover{
  cursor: pointer;
}
.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.color-yellow {
  color: yellow;
}

.color-red {
  color: red;
}

.table-cart{
  text-align: center;
}
