<div id="all">
  <div id="content">
    <div class="container">
    <% if @products.present? %>
      <div class="col-md-9">
        <div class="row products">
            <%= render @products %>
        </div>
        <%= paginate @products, theme: "twitter-bootstrap-3" %>
      </div>
    <% end %>
      <div class="col-md-3">
        <%= render "shared/right_sidebar" %>
      </div>
    </div>
  </div>
</div>
