<div class="container">
  <div class="col-md-12">
    <div id="main-slider">
      <div class="item">
          <%= image_tag("img/main-slider1.jpg", :class => "img-responsive" ) %>
      </div>
      <div class="item">
          <%= image_tag("img/main-slider1.jpg", :class => "img-responsive" ) %>
      </div>
    </div>
  </div>
</div>
